body {
    background-image: url("images.jpeg"), url("images.jpeg");
  }

  h1
  {
      text-align:justify;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-size: x-large;
  }

  html
  {
      background-color: aqua;
  }